Jeopardy Editor/bin/Debug/Jeopardy Editor.vshost.exe
*.smc
Jeopardy Editor/bin/Debug/Jeopardy Editor.exe
Jeopardy Editor/bin/Debug/jeopardy-save.xml
Jeopardy Editor/bin/Debug/Jeopardy Editor.pdb
*.bak
Jeopardy Editor/bin/Debug/Jeopardy Editor.vshost.exe.config
Jeopardy Editor/bin/Debug/Jeopardy Editor.vshost.exe.manifest
Jeopardy Editor/bin/Debug/Jeopardy Editor.exe.config
Jeopardy Editor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Jeopardy Editor/obj/Debug/Jeopardy Editor.csproj.FileListAbsolute.txt
Jeopardy Editor/obj/Debug/Jeopardy_Editor.Properties.Resources.resources
Jeopardy Editor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Jeopardy Editor/obj/Debug/Jeopardy Editor.csproj.GenerateResource.Cache
Jeopardy Editor/obj/Debug/Jeopardy Editor.csprojResolveAssemblyReference.cache
Jeopardy Editor/obj/Debug/Jeopardy Editor.pdb
Jeopardy Editor/obj/Debug/Jeopardy Editor.exe
Jeopardy Editor/obj/Debug/Jeopardy_Editor.PointerView.resources
Jeopardy Editor/obj/Debug/Jeopardy_Editor.Form1.resources
Jeopardy Editor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Jeopardy Editor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Jeopardy Editor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/Jeopardy Editor/v14/.suo